/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}
.navbar{
display: block;
}
li.nav-item .nav-link{
  font-family: System-font-bold;
  color: #000;
  text-transform:uppercase;
}
li.active > .nav-link
{
  color: #c6001e;
}
 .logo{
  transform: translateX(32%);
 }
 .hr-header{
   margin: 5px 0;
}
.navbar-toggler{
  border: 1px solid #004781;
}
.navbar-toggler-icon{
  background: #004781;
}
 .white-background{
   background-color: white;
 }
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-indicators{
    bottom:30vh;
    left: 0;
    transform: translateX(-60%) rotate(90deg);
  }
  .carousel-indicators li{
    background-color: aquamarine;
    width:80px;
    height: 3px;
  }
  .carousel-indicators .active{
    background-color:#004781;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    top: 30%;
    left: 46%;
    z-index: 10;
    padding:20px 20px;
    border-radius:5px;
  }
  
  /* Declare heights because of positioning of img element */
  /* .carousel-item {
    height: 32rem;
    background-color: #777;
  } */
  .carousel-item {
    height: 80vh;
    min-height: 300px;
    /* background: no-repeat center center scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: bold;
    padding: 30px 0 0;
    color: #004781;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
    
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 40px;
    }
  }
  @media (max-width: 415px){
    .logo{
      display: inline-block;
      transform: translateX(100%);
    }
  }
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 2rem;
    }
  }