body {
    overflow-x: hidden;
}

.custom-hr-img {
    margin: 0 auto;
    display: block;
}

.background-blur {
    -webkit-filter: blur(3px);
    /* Safari 6.0 - 9.0 */
    filter: blur(3px);
}

.img-responsive {
    width: 100%;
    height: auto;
}

.about-section {
    margin: 1px;
}

.about-content {
    padding: 70px 0;
}

.title-about {
    color: white;
    padding-bottom: 70px;
}

.card {
    background-color: rgba(255, 255, 255, 0.7)
}

.about-section {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/img-03.png") no-repeat;
    background-size: 100% 100%;
}

.red {
    color: red;
}

.lead {
    text-align: justify;
}

.info {
    padding: 20px 0 0;
}

.custom-btn {
    position: relative;
    left: 35%;
    transform: translateX(-35%);
}

.custom-btn p {
    position: absolute;
    color: #fff;
    top: 35%;
    left: 35%;
}

.new-section {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/img-07.png") no-repeat;
    background-size: 100% 100%;
    padding: 50px;
}

.footer-info {
    padding: 10px;
    background-color: dimgrey;
    color: #fff;
    margin-bottom: 0;
}